:root {
    --pixel-size: 2px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --bg: radial-gradient(circle, snow 40%, rgba(213,213,213,1) 100%);
}
@media( min-width: 700px ) {
    :root {
        --pixel-size: 3px;
    }
}
@media( min-width: 1000px ) {
    :root {
        --pixel-size: 4px;
    }
}
/* @media( min-width: 1000px ) {
   :root {
      --pixel-size: 5px;
   }
} */
html, body {
    height: 100%;
}

body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pixel-art {
    image-rendering: pixelated;
}

.frame {
    /* This is just for Pen decoration */
    width: calc(var(--pixel-size) * 160);
    height: calc(var(--pixel-size) * 144);
    /*outline: var(--pixel-size) solid #fff;*/
    z-index:1;
}

#snowGif {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    animation-name: sway;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 100vh;
    width: 100vw;
}

@keyframes sway {
    1% {
        opacity: .8;
    }
    100% {
        opacity: .4;
    }

}

.map {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    font-size: 3px;
    /*width: calc(13 * var(--grid-cell)*2 / 10);*/
    /*height: calc(10 * var(--grid-cell)*2 / 10);*/
    /*background: snow;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*box-shadow: inset 0 0 20px 6px hsla(0, 0%, 70%, .5);*/
    fill: rgba(255, 250, 250, 0.7);
}
.tile-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    background: rgba(255, 255, 255, 0.52);
}

.depth-1 {
    box-shadow: inset 0 0 1px 0px hsla(0, 0%, 98%, .5);
}
.depth-2 {
    box-shadow: inset 0 0 2px 0px hsla(0, 0%, 94%, .5);
}
.depth-3 {
    box-shadow: inset 0 0 3px 0px hsla(0, 0%, 90%, .5);
}
.depth-4 {
    box-shadow: inset 0 0 4px 0px hsla(0, 0%, 86%, .4);
}
.depth-5 {
    box-shadow: inset 0 0 5px 0px hsla(0, 0%, 82%, .4);
}

#gameover {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    height: 100%;
    width: 100%;
    border-radius: 32%;
    box-shadow: inset 0px 0px 26px #fffafa63;
}

/*.animated {*/
/*    -webkit-animation-duration: .5s;*/
/*    animation-duration: 1s;*/
/*    -webkit-animation-fill-mode: both;*/
/*    animation-fill-mode: both;*/
/*    -webkit-animation-timing-function: linear;*/
/*    animation-timing-function: linear;*/
/*    animation-iteration-count: infinite;*/
/*    -webkit-animation-iteration-count: infinite;*/
/*}*/

/*@keyframes bounce {*/
/*    0%, 20%, 80%, 100% {*/
/*        transform: translateY(0);*/
/*    }*/
/*    50% {*/
/*        transform: translateY(-1px);*/
/*    }*/
/*}*/
/*.bounce {*/
/*    -webkit-animation-name: bounce;*/
/*    animation-name: bounce;*/
/*}*/

main {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}